<div class="container text-center my-5">
    <h1 class="display-4 text-primary">¡Bienvenido a Mi Sitio Web 2024!</h1>
    <p class="lead text-secondary">
        Tu espacio para explorar, aprender y conectarte con el futuro.  
        Aquí encontrarás herramientas útiles, contenido inspirador y soluciones innovadoras para tus necesidades.
    </p>
    
    <a href="#/acercade" class="btn btn-outline-primary btn-lg mt-3">Conoce más</a>
    <a href="#/inicio" class="btn btn-outline-info btn-lg mt-3">Inicio</a>
    <a href="#/principal" class="btn btn-outline-success btn-lg mt-3">Principal</a>
    
</div>
